* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #3498db, #95a5a6);
  background-repeat: no-repeat;
}

button {
    background: none;
    border: none;
    transition: all .1s;
    cursor: pointer;
    margin-right: 15px;
}

button:hover {
    transform: scale(1.12);
}


.container{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 70px;
}

.header {
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.header .header-text {
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    display: inline;
}


#change-header {
    display: inline;
    margin-left: 10px;
}

#change-header img{
    width: 20px;
    height: 20px;
}

img {
    width: 25px;
    height: 25px;
}

.content {
    margin: 0 auto;
    max-width: 700px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    height: 60px;
    position: relative;
}

#input-text {
    height: 40px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.4);
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    border: none;
}

.btn {
    background-color: rgb(64, 175, 255);
    height: 40px;
    border-radius: 7px;
    font-weight: 600;
    padding: 7px;
    margin-left: 20px;
}

input::placeholder {
  color: #000000; 
}

.task-list {
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    max-width: 600px;
    height: 100%;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 50px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    height: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

.task-text {
    font-size: 20px;
}

.doneChange {
    margin-left: 10px;
    height: 30px;
    border-radius: 7px;
    font-weight: 600;
    padding: 7px;
    background: rgb(64, 175, 255);
}
#change-text {
    height: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    width: 150px;
    border: none;
    padding: 10px;
    background: rgba(255, 255, 255, 0.4);
}

.none {
    display: none;
}

.line {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.7);
}

.conteinet-paginat {
    top: 600px;
    position: absolute;
    width: 300px;
    top: 635px;
    height: 75px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.paginat {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 350px;
    margin: 0 auto;
}

.prev, .next {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    display: flex;
    align-items: center;
    width: 75px;
    height: 75px;
    transition: all .2s ease;
}

.prev:hover {
    transform: scale(1.1);
}

.next:hover {
    transform: scale(1.1);
}

.countPaginat {
    font-size: 30px;
}


@media (max-width: 500px) {
    .task {
        padding: 10px;
    }
    #change-text{
        width: 80px;
    }
    .doneChange {
        font-size: 11px;
    }
    img {
        width: 15px;
        height: 15px;
    }
    #input-text {
        width: 190px;
    }
}